@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffff;
    background-color: #121212;
}

h1{
    font-weight: 800;
}

h2{
    font-weight: 600;
}

h3{
    font-weight: 500;
}
h4{
    font-weight: 400;
}
